body {
  background-color: #f5f1ed;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.portfolio_game > img {
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  aspect-ratio: 16/9;
}

/* Navigation Bar */
nav > h1 {
	margin: 0;
	color: white;
	font-family: 'Rowdies', cursive;
	text-shadow: -1px 1px 2px #753D00,
				1px 1px 2px #753D00,
				1px -1px 0 #753D00,
				-1px -1px 0 #753D00;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	text-shadow: -1px 1px 2px #753D00,
				1px 1px 2px #753D00,
				1px -1px 0 #753D00,
				-1px -1px 0 #753D00;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.navbar-collapse {
	flex-grow: 0;
}

nav {
  background-color: #FF7F11;
  display: flex;
  justify-content: space-between;
}

navbar-toggler {
	background-color: black;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #753D00;
	text-shadow: none;
}

/* Main Page */
main {
  background-color: #f5f1ed;
  margin: 0;
}

/* Page title*/
.page_title {
  background-color: #FF9634;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin: 0%;
  margin-bottom: 1em;
  font-weight: bold;
  border-radius: 50px;
  text-shadow: -1px 1px 2px #753D00,
				1px 1px 2px #753D00,
				1px -1px 0 #753D00,
				-1px -1px 0 #753D00;
  /*text-shadow: 3px 3px #753D00; */
}

/* All games in portfolio */
.portfolio_game {
  background-color: white;
  display: flex;
  margin: 0%;
  margin-bottom: 2em;
  text-align: center;
  border-radius: 50px;
}

.portfolio_game + .alt_game {
  background-color: white;
 }

.game_text {
  background-color: #F38C9F;
  color: white;
  width: 100%;
  text-align: left;
  margin: 0%;
  padding: 5%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.portfolio_case_study {
	text-align: justify;
	border-radius: 50px;
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
}

.portfolio_case_study > div {
	padding-left: 13%;
	padding-right: 13%;
}

.portfolio_case_study > div > p{
	text-align: justify;
}

.portfolio_case_study > div > ul {
	text-align: left;
}

.portfolio_case_study > img {
	padding-bottom: 2%;
	max-width: 50vw;
}

.portfolio_page_link {
	border-radius: 50px;
	font-weight: bold;
	text-align: center;
}

/* Game-Specific Styles */
#ProdNotFound {
  background-color: #0D0C09;
  color: #F4F4F4;
}

#MagUmb {
  background-color: #FF9AAA;
  color: #2E243C;
}

#PatZer {
	background-color: #2E3842;
	color: #D1E1F7;
}

#Magnet {
	background-color: #FFD192;
	color: black;
}

#FamTree {
	background-color: #753914;
	color: #F4F7BE;
}

#FamTreePort {
	background-color: #E6D6C5;
	color: black;
}

.FamTreeLink {
	background-color: #F4F7BE;
	color: #753914;
}

.ProdNotFoundLink {
  background-color: #F4F4F4;
  color: #0D0C09;
}

.MagUmbLink {
  background-color: #2E243C;
  color: #FF9AAA;
}

.MagnetLink {
	background-color: black;
	color: #FFD192;
}

/* About Me Specifics */
#portfolio_subtitle {
	font-weight: normal;
	color: black;
	text-shadow: none;
}

#about-me {
  align-items: center;
}

#AbMe {
  background-color: white;
  color: #8F3900;
}

#AbMe > h3 {
  font-weight: bold;
}

#MePhoto {
  height: 25vw;
  object-fit: contain;
}

#MeDoodle {
  height: 25vw;
  object-fit: contain;
}

.me_photos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}